.conference-table-container {
    overflow-x: auto;
    display: flex;
  }
  
  .conference-table {
    width: 100%;
    border-collapse: collapse;
  }
  

.conference-table th,
.conference-table td {
    padding: 3px 20px;
    border: 1px solid #ddd;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    vertical-align: middle; 
}


.fixed-column-1 {
    position: sticky !important;
    left: 0;
    z-index: 999;
    width: auto;
  }

  .fixed-column-1 > div {
    flex-grow: 1; /* Phần tử con sẽ mở rộng để lấp đầy không gian trong flex container */
    text-align: center; /* Căn giữa nội dung trong phần tử con */
}
  
.resizer {
    display: inline-block;
    width: 10px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
    touch-action: none;
    cursor: col-resize;
}
.table th, .table td {
    padding: 0.5rem;
    border: 1px solid black;
    position: relative;
}
.th, .td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
tr.bg-blue-light td {
    background-color: #E3F2FD; /* Đặt màu cho các ô trong hàng có lớp bg-blue-light */
}

tr.bg-white td {
    background-color: #FFFFFF; /* Đặt màu cho các ô trong hàng có lớp bg-white */
}