.message-popup{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: white;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 80%;
    border: 2px solid white;
    font-size: large;
}

.message-popup.message-popup-success {
    background-color:rgb(23, 96, 190)
}

.message-popup.message-popup-failed {
    background-color: red;
}
.message-name{
    
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}
