/* ScrollToTop.css */
.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 10px;
    z-index: 1000;
    background-color: #00999f;
    color: #e6f5f5;
    border: none;
    width: 40px;
    height: 40px;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease-out;
  }
  
  .scroll-to-top:hover {
    background-color: #008a8f;
  }
  
.zoom-in {
    animation: zoomIn 0.8s ease-in-out forwards;
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.content {
    transform: translateY(20px); /* Di chuyển toàn bộ div xuống 20px từ phía dưới */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Thêm thuộc tính transition cho hiệu ứng mượt mà */
    opacity: 0;
  }
  
  .content.visible {
    transform: translateY(0); /* Chuyển toàn bộ div về vị trí ban đầu */
    opacity: 1;
  }


  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .popup {
    position: fixed;
   
    top: 80px;
    right: 0px;
    color: #34766D;
    transform: translateY(-10px);
    background-color: #ffffff;
    border: 1px solid #34766D;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 9999; /* Đảm bảo popup luôn nằm trên cùng */
    display: inline-block; /* Đảm bảo popup bao quanh đoạn text */
    white-space: nowrap; /* Đảm bảo đoạn text nằm trên một dòng */
    animation: slideDown 0.5s ease-out; /* Hiệu ứng trượt xuống trong 0.5 giây */
  }


  .btn-epic{
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 260px;
  height: 52px;
  background: #fff;
  transform: translate3d(0px, 0%, 0px);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: .05em;
  transition-delay: .6s;
  overflow: hidden;
  &:before{
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: #3ad2d0
    border-radius: 50% 50% 0 0
    transform: translateY(100%) scaleY(.5)
    transition: all .6s ease}
  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: white
    border-radius: 0
    transform: translateY(0) scaleY(1)
    transition: all .6s ease
  div
    position: relative
    top: 16px
    width: 100%
    height: 26px
    text-transform: uppercase
    overflow: hidden
  span
    position: absolute
    z-index: 1
    top: 0
    width: 100%
    text-align: center
    transition: transform .5s ease
    &:first-child
      color: white
      transform: translateY(24px)
    &:last-child
      color: #1E0F21
      transform: translateY(0)
  &:hover
    background: #3ad2d0    
    transition: background .2s linear
    transition-delay: .6s
    &:after
      border-radius: 0 0 50% 50% 
      transform: translateY(-100%) scaleY(.5)
      transition-delay: 0
    &:before
      border-radius: 0
      transform: translateY(0) scaleY(1)
      transition-delay: 0
    span
      &:first-child
        transform: translateY(0)
      &:last-child
  }


  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .follow-btn {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
    .follow-btn::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(200px + 12px);
    min-height: calc(50px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .follow-btn:hover, .follow-btn:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .follow-btn:hover::before, .follow-btn:focus::before {
    opacity: 1;
  }
  
  .follow-btn::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .follow-btn:hover::after, .follow-btn:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }